@import "tailwindcss";

body {

    background-color: #060606;
    color: white;
    font-family: "Gill Sans", sans-serif;
    text-align: justify;
    font-style: normal;

}

.input-start {
    animation: filtro-input 0.5s ease-out forwards;
}

.filter-name {
    animation: filtro-input 0.5s ease-out forwards;
}

@keyframes filtro-input {
    0% {
        width: 0;
    }
}

.filter-logo {
    filter: brightness(200%);
}

.active {
    border-bottom: solid 2px rgb(49, 118, 245);
}

.bg-header {
    background: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 255, 0));
    z-index: 100;
    animation: header-1 0.7s;
}

@keyframes header-1 {
    0% {
        background-color: #000000f7;
    }

    100% {
        background: linear-gradient(rgba(0, 0, 0, 0.562))
    }
}

.bg-header-2 {
    background-color: #000000f7;
    z-index: 100;
    animation: header-2 0.7s;
}

@keyframes header-2 {
    0% {
        background-color: rgba(255, 0, 0, 0);
    }

    100% {
        background-color: #000000f7;
    }
}

.h-panel {

    position: relative;
    height: 70vh;
    margin-bottom: 5px;
    filter: brightness(130%);
}

.bg-h-panel {
    z-index: 200;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0) 94%, #060606 99%);
}

.h-panel>img {
    position: absolute;
    filter: brightness(90%);
    background-color: #555 !important;
}

.h-panel>div {

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.panel-show {

    transition-property: border;
    transition-duration: 0.08s;
}

.panel-show:hover {

    border: solid 3px rgb(255, 255, 255);
}

.carusel-show {

    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.carusel-show>div {
    width: 230px;
    height: 340px;
    flex-shrink: 0;
}

.shadow-text-panel {

    background: linear-gradient(90deg, rgb(0, 0, 0) 5%, rgba(0, 0, 255, 0));
}

.modal-img {
    position: relative;
    height: 60vh;
}

.bg-modal {

    background-color: #181818;
}

.animate-modal {
    animation: animate-modal 0.5s;
}

@keyframes animate-modal {
    0% {
        transform: scale(0.5);
        filter: blur(5px) brightness(20%);
    }

    100% {
        transform: scale(1);
    }
}

.animate-boton {

    animation: boton 1s;
}

.animate-boton-2 {

    animation: boton-2 1s;
}


@keyframes boton {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes boton-2 {
    0% {
        transform: scale(0.3);
    }

    100% {
        transform: scale(1);
    }
}

/* width */
body::-webkit-scrollbar,
.carusel-show::-webkit-scrollbar,
.modal-show::-webkit-scrollbar,
.filter-name::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}

/* Track */
body::-webkit-scrollbar-track,
.carusel-show::-webkit-scrollbar-track,
.modal-show::-webkit-scrollbar-track,
.filter-name::-webkit-scrollbar-track {
    /* background: #00000037; */

}

/* Handle */
body::-webkit-scrollbar-thumb,
.carusel-show::-webkit-scrollbar-thumb,
.modal-show::-webkit-scrollbar-thumb,
.filter-name::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 50px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover,
.carusel-show::-webkit-scrollbar-thumb:hover,
.modal-show::-webkit-scrollbar-thumb:hover,
.filter-name::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
    cursor: pointer;
}

.animate-playa {

    position: relative;
    width: 80%;
    border-radius: 20px;
    transition-property: box-shadow transform background;
    transition-duration: 0.5s;
}

.animate-playa>div {

    position: relative;
    background: url(https://static.vecteezy.com/system/resources/previews/007/123/166/non_2x/blue-teal-beach-scenery-with-foliages-background-free-vector.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    height: 500px;
    cursor: pointer;

}

.animate-playa>img {

    position: absolute;
    top: 0;
    width: 780px;

}

.animate-playa:hover {

    transform:
        perspective(450px) rotateX(10deg);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.333);
}

/* nav-search */

/*  */


/* .scene {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
}

.cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #8c8c8c;
    font-size: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.8);
}

.front {
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);
}

.right {
    transform: rotateY(90deg) translateZ(100px);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
}

.top {
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}

@keyframes rotate {
    from {
        transform: rotateY(0deg) rotateX(0deg);
    }

    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
} */